/* Alejandro Barrionuevo Rosado */ 

/* Estilos personalizados */

html {
  position: relative;
  min-height: 100%;
}

body {
  background-color: #f8f9fa;
  background-image: url('../img/fondo.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-family: var(--bs-font-sans-serif);
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  background-color: #4CA433;
  color: white;
  padding: 20px;
  text-align: center;
}

section {
  margin: 20px;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  flex: 1;
}

footer {
  background-color: #4CA433;
  color: white;
  padding: 20px;
  text-align: center;
  font-size: large;
  flex-shrink: 0;
}

.footer-btn {
  margin-top: 10px;
}

.footer-btn:hover {
  background-color: #333;
}

h1,
h3 {
  margin-bottom: 20px;
}

.form-group {
  max-width: 600px;
  margin: 0 auto;
}

.input-group {
  margin-bottom: 10px;
}

.bottom {
  color: white;
}

.btn {
  margin-top: 5px;
}

.oculto {
  display: none;
}

#divInfo {
  width: 90%;
  margin: 10px auto;
  text-align: justify;
  padding: 15px;
}

@media (max-width: 768px) {
  .btn {
    width: 100%;
    margin-top: 5px;
  }

  #divInfo {
    font-size: 14px;
    width: 90%;
    margin: 10px auto;
    text-align: left;
    padding: 15px;
  }

  #tituloCalculadora {
    text-align: center;
  }
}
